 <!-- Contacto -->
 <section class="bg-white py-5" id="contacto">
    <div class="container">
      <h2 class="text-center mb-5">Contacto</h2>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <form>
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre completo</label>
              <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" required>
            </div>
            <div class="mb-3">
              <label for="correo" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="correo" placeholder="correo@ejemplo.com" required>
            </div>
            <div class="mb-3">
              <label for="mensaje" class="form-label">Mensaje</label>
              <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"
                required></textarea>
            </div>
            <button type="submit" class="btn btn-primary w-100">Enviar mensaje</button>
          </form>
          <div class="mt-4 text-center text-muted small">
            <p><i class="bi bi-telephone-fill"></i> Tel: 555-123-4567</p>
            <p><i class="bi bi-envelope-fill"></i> infodrjuanperez.com</p>
            <p><i class="bi bi-geo-alt-fill"></i> Calle Salud 123, Ciudad</p>
          </div>
        </div>
      </div>
    </div>
  </section>